doctype html
html
  head
    title Example
  body
    main
      div.title
        p CCCLOTHES
        h1 MEN’S TOPS
      div.hat-man
      div.linen 
        p LINEN BLAZER
      div.hollow-box.box1
