- var n = 0;
doctype html
html
  head
    title THE-F2E-week4-Product-Gallery
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  body
    main
      .title
        p CCCLOTHES
        h1 MEN’S TOPS
      .grid-template.first
        div
        div
          p LINEN BLAZER
        div
        p 01
        div
        p Men’s outfit
      .grid-template.second
        div
        div
        div
        p Men’s basics
        div
          p FREELIFT
      .grid-template.third
        div
        div
        div
          p SUPER SKINNY
        div
        p 03
        p Men’s pattern shirts
      .grid-template.fourth
        div
        div
        div
        div
          p DENIM
        p Men’s cadual
        p 04
      .grid-template.fifth
        div
        div
        div
        div
          p SWEATSHIRTS
        p Men’s jacket
        p 05
      .grid-template.sixth
        div
        div
        div
        div
          p VINTAGE DENIM
        p Men’s classic
        p 06
      .grid-template.seventh
        div
        div
        div
        div
          p EDITION
        p Men’s shirts
        p 07