- var n = 0;
doctype html
html
  head
    title THE-F2E-week4-Product-Gallery
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  body
    main
      .title
        p CCCLOTHES
        h1 MEN’S TOPS
      .grid-template.first
        .bg
        .hollow-box
        .slash-box
        .overlap-font
          p LINEN BLAZER
        p.italic-font Men’s outfit
        p.number-font 01
      .grid-template.second
        .bg
        .hollow-box
        div
        .overlap-font
          p FREELIFT
        p.italic-font Men’s basics
        p.number-font 02
      .grid-template.third
        .bg
        .hollow-box
        div
        .overlap-font
          p SUPER SKINNY
        p.italic-font Men’s pattern shirts
        p.number-font 03
      .grid-template.fourth
        .bg
        .hollow-box
        .slash-box
        .overlap-font
          p DENIM
        p.italic-font Men’s cadual
        p.number-font 04
      .grid-template.fifth
        .bg
        .hollow-box
        .slash-box
        .overlap-font
          p SWEATSHIRTS
        p.italic-font Men’s jacket
        p.number-font 05
      .grid-template.sixth
        .bg
        .hollow-box
        div
        .overlap-font
          p VINTAGE DENIM
        p.italic-font Men’s classic
        p.number-font 06
      .grid-template.seventh
        .bg
        .hollow-box
        div
        .overlap-font
          p EDITION
        p.italic-font Men’s shirts
        p.number-font 07